<ion-view view-title="Arbitrage Scripts">
  <ion-content class="text-center section_padding">
    <a style="text-decoration:none;" target="_blank" href="http://vivek.wohlig.com/app/">
      <div class="card custom_card">
        <div class="item item-text-wrap">
          XRP vs BTC
        </div>
      </div>
    </a>
    <a style="text-decoration:none;" target="_blank" href="http://trx.wohlig.com/app/">
      <div class="card custom_card">
        <div class="item item-text-wrap">
          TRX vs BTC
        </div>
      </div>
    </a>
    <a style="text-decoration:none;" target="_blank" href="http://storm.wohlig.com/app/">
      <div class="card custom_card">
        <div class="item item-text-wrap">
          Storm vs BTC
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>
