<ion-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Arbitrage Script</h1>
  </ion-header-bar>
  <ion-content class="text-center section_padding">
    <a style="text-decoration:none;" ng-click="changeScript('XRP');">
      <div class="card custom_card">
        <div class="item item-text-wrap custom_card_item">
          XRP vs BTC
        </div>
      </div>
    </a>
    <a style="text-decoration:none;" ng-click="changeScript('TRX');">
      <div class="card custom_card">
        <div class="item item-text-wrap custom_card_item">
          TRX vs BTC
        </div>
      </div>
    </a>
    <a style="text-decoration:none;" ng-click="changeScript('STORM');">
      <div class="card custom_card">
        <div class="item item-text-wrap custom_card_item">
          STORM vs BTC
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>
