<ion-view view-title="Market ({{market}})">
  <ion-content>
    <div class="list card list-markets">
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Standing</div>
          </div>
        </div>
        <div class="box-interest">
          <div class="row">
            <div class="col col-33">
              <label for="">
                Starting Date
              </label>
            </div>
            <div class="col col-66">
              {{initialDate|date}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Currenct Date
              </label>
            </div>
            <div class="col col-66">
              {{currentDate|date}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Amount Invested
              </label>
            </div>
            <div class="col col-66">
              XRP {{initialRipple}} - BTC {{initialBitcoin}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Current Value
              </label>
            </div>
            <div class="col col-66">
              XRP {{totalBitcoin}} - BTC {{totalUsd|number:4}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Growth (in {{days}} Days)
              </label>
            </div>
            <div class="col col-66">
              XRP {{rippleGrowth*100|number:2}}% - BTC {{bitcoinGrowth*100|number:2}}%
            </div>

          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Annualized Returns
              </label>
            </div>
            <div class="col col-66">
              XRP {{annulizedRipple*100|number:2}}% - BTC {{annulizedBitcoin*100|number:2}}%
            </div>
          </div>


        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Market Status</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class=" sub-title title">
              Binance
            </div>
          </div>
          <div class="col">
            <div class="sub-title title">
              Hitbtc
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Balance</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency1}}</label>
                </div>
                <div class="col col-66">
                  {{market1Data.usd|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency2}}</label>
                </div>
                <div class="col col-66">
                  {{market1Data.bitcoin|number:2}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency1}}</label>
                </div>
                <div class="col col-66">
                  {{market2Data.usd|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> {{currency2}}</label>
                </div>
                <div class="col col-66">
                  {{market2Data.bitcoin|number:2}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Rate</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask</label>
                </div>
                <div class="col col-66">
                  {{ratioBuySell.ask|number:8}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ratioBuySell.bid|number:8}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask </label>
                </div>
                <div class="col col-66">
                  {{ratioSellBuy.ask|number:8}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ratioSellBuy.bid|number:8}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Ratio</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Buy Sell </label>
                </div>
                <div class="col">
                  {{ratioBuySell.ratio|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">RatioReq</label>
                </div>
                <div class="col">
                  {{ratioBuySell.condition|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  {{ratioBuySell.amountBTC}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Sell Buy </label>
                </div>
                <div class="col">
                  {{ratioSellBuy.ratio|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> RatioReq</label>
                </div>
                <div class="col">
                  {{ratioSellBuy.condition|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  {{ratioSellBuy.amountBTC}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
