<ion-view view-title="MARKET LISTS">
  <ion-content>
    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
    <div class="list card list-markets">
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="title text-uppercase">
              Market1
            </div>
            <div>
              $50000
            </div>
          </div>
          <div class="col">
            <div class="title text-uppercase">
              Market2
            </div>
            <div>
              $50000
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="label-title">Bitcoin</div>
              <p>
                $500 (22.22)
              </p>
              <p>
                <span>&#8377;</span>908908908 (500)
              </p>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="label-title">Ripple</div>
              <p>
                $500 (22.22)
              </p>
              <p>
                <span>&#8377;</span>908908908 (9089)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="label-title">Ask (QTY) | Bitcoin</div>
              <p>
                $500 (22.22)
              </p>
              <p>
                <span>&#8377;</span>908908908 (500)
              </p>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="label-title">Bid (QTY) | Bitcoin</div>
              <p>
                $500 (22.22)
              </p>
              <p>
                <span>&#8377;</span>908908908 (9089)
              </p>
            </div>
          </div>
        </div>
        <div class="box-interest">
          <!--<div class="row">
            <div class="col">
               <label for="">INR:</label> 908908908
            </div>
            <div class="col">
              <label for="">Value:</label> 90909
            </div>
          </div>-->
          <!--<div class="row">
            <div class="col">
              <label for=""> Int Amt:</label> 9089
            </div>
            <div class="col">
              <label for="">Total Value:</label> 90909
            </div>
          </div>-->
          <div class="row">
            <div class="col">
              <label for="">Invested Amt:
              </label>2000
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Total Value:
              </label>2200
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Growth:
              </label>200
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="label-title">Ask (QTY) | Bitcoin</div>
              <p>
                $500 (22.22)
              </p>
              <p>
                <span>&#8377;</span>908908908 (500)
              </p>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="label-title">Bid (QTY) | Bitcoin</div>
              <p>
                $500 (22.22)
              </p>
              <p>
                <span>&#8377;</span>908908908 (9089)
              </p>
            </div>
          </div>
        </div>
        <div class="box-interest">
          <div class="row">
            <div class="col">
              <label for="">Invested Amt:
              </label>2000
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Total Value:
              </label>2200
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Growth:
              </label>200
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
