<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button icon-left ion-chevron-left button-clear" ui-sref="app.home">Home</button>
    </div>
    <h1 class="title">{{currencyShortName2}} Status</h1>
    <div class="buttons">
      <button class="button" ui-sref="app.marketlists">Transactions</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card list-markets">
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Standing</div>
          </div>
        </div>
        <div class="box-interest">
          <div class="row">
            <div class="col col-33">
              <label for="">
                Starting Date
              </label>
            </div>
            <div class="col col-66">
              {{initialDate|date}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Currenct Date
              </label>
            </div>
            <div class="col col-66">
              {{currentDate|date}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Amount Invested
              </label>
            </div>
            <div class="col col-66">
              {{currencyShortName2}} {{initialRipple|number:currentScript.currency1Decimal}} - BTC
              {{initialBitcoin|number:currentScript.currency2Decimal}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Current Value
              </label>
            </div>
            <div class="col col-66">
              {{currencyShortName2}} {{totalBitcoin|number:currentScript.currency1Decimal}} - BTC
              {{totalUsd|number:currentScript.currency2Decimal}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                {{currencyShortName2}} (USD)
              </label>
            </div>
            <div class="col col-66">
              ${{arbitrage.script1Value.data.quotes.USD.price}} |
              {{arbitrage.script1Value.data.quotes.USD.price*totalBitcoin|currency}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                {{currencyShortName1}} (USD)
              </label>
            </div>
            <div class="col col-66">
              {{arbitrage.script2Value.data.quotes.USD.price|currency}} |
              {{arbitrage.script2Value.data.quotes.USD.price*totalUsd|currency}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Total (USD)
              </label>
            </div>
            <div class="col col-66">
              {{(arbitrage.script1Value.data.quotes.USD.price*totalBitcoin) +
              (arbitrage.script2Value.data.quotes.USD.price*totalUsd)|currency}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Growth (in {{days}} Days)
              </label>
            </div>
            <div class="col col-66">
              {{currencyShortName2}} {{rippleGrowth*100|number:2}}% - BTC {{bitcoinGrowth*100|number:2}}%
            </div>

          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Annualized Returns
              </label>
            </div>
            <div class="col col-66">
              {{currencyShortName2}} {{annulizedRipple*100|number:2}}% - BTC {{annulizedBitcoin*100|number:2}}%
            </div>
          </div>


        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Market Status</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class=" sub-title title">
              Binance
            </div>
          </div>
          <div class="col">
            <div class="sub-title title">
              Hitbtc
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Balance</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency2}}</label>
                </div>
                <div class="col col-66">
                  {{market1Data.usd|number:currentScript.currency2Decimal}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency1}}</label>
                </div>
                <div class="col col-66">
                  {{market1Data.bitcoin|number:currentScript.currency1Decimal}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency2}}</label>
                </div>
                <div class="col col-66">
                  {{market2Data.usd|number:currentScript.currency2Decimal}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> {{currency1}}</label>
                </div>
                <div class="col col-66">
                  {{market2Data.bitcoin|number:currentScript.currency1Decimal}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Rate</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask</label>
                </div>
                <div class="col col-66">
                  {{ratioBuySell.ask|number:currentScript.rateDecimal}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ratioBuySell.bid|number:currentScript.rateDecimal}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask </label>
                </div>
                <div class="col col-66">
                  {{ratioSellBuy.ask|number:currentScript.rateDecimal}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ratioSellBuy.bid|number:currentScript.rateDecimal}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Ratio</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Buy Sell </label>
                </div>
                <div class="col">
                  {{ratioBuySell.ratio|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">RatioReq</label>
                </div>
                <div class="col">
                  {{ratioBuySell.condition|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  {{ratioBuySell.amountBTC}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Sell Buy </label>
                </div>
                <div class="col">
                  {{ratioSellBuy.ratio|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> RatioReq</label>
                </div>
                <div class="col">
                  {{ratioSellBuy.condition|number:4}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  {{ratioSellBuy.amountBTC}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
