<ion-view view-title="Market {{market}}">
  <ion-content>
    <div class="list card list-markets">
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Standing</div>
          </div>
        </div>
        <div class="box-interest">
          <div class="row">
            <div class="col col-33">
              <label for="">
                Invested Amount
              </label>
            </div>
            <div class="col col-66">
              {{previousAmount}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Current Amount
              </label>
            </div>
            <div class="col col-66">
              {{currentValue}}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">Growth
              </label>
            </div>
            <div class="col col-66">
              {{growth}}%
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Market Status</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class=" sub-title title">
              Binance
            </div>
          </div>
          <div class="col">
            <div class="sub-title title">
              Hitbtc
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Balance</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency1}}</label>
                </div>
                <div class="col col-66">
                  {{market1Data.bitcoin}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency2}}</label>
                </div>
                <div class="col col-66">
                  {{market1Data.other}}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{currency1}}</label>
                </div>
                <div class="col col-66">
                  {{market2Data.bitcoin}}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> {{currency2}}</label>
                </div>
                <div class="col col-66">
                  {{market2Data.other}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Rate</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask</label>
                </div>
                <div class="col col-66">
                  {{ratioBuySell.ask}} (0.5)
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ratioBuySell.bid}} (0.5)
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask </label>
                </div>
                <div class="col col-66">
                  {{ratioSellBuy.ask}} (0.5)
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ratioSellBuy.ask}} (0.5)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Ratio</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Buy Sell </label>
                </div>
                <div class="col">
                  1.009
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">RatioReq</label>
                </div>
                <div class="col">
                  1.003
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  0.2
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Sell Buy </label>
                </div>
                <div class="col">
                  1.002
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> RatioReq</label>
                </div>
                <div class="col">
                  1.003
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  0.2
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
