<ion-view view-title="Transaction List">
  <ion-content>
    <ul class="list list-transactions">
      <ion-refresher on-refresh="doRefresh()">
      </ion-refresher>
      <li class="item" ng-repeat="process in processes">
        <div class="">
          <div class="row">
            <div class="col">
              <p class="date">{{process.createdAt|date:'EEE, d MMM, H:mm:ss'}}</p>
            </div>
            <div class="col">
              <p class="date">{{process.updatedAt|date:'EEE, d MMM, H:mm:ss'}}
                <span class="right">{{differenceTime(process)}}s</span>
              </p>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <h2>
                <span class="small-title">Qty:</span> {{process.transaction1.amountBTC|number:2}}</h2>
            </div>
            <div class="col">
              <h3>
                <span class="small-title">Rate:</span> {{(process.ratio-1)*100|number:2}}%</h3>
            </div>
            <div class="col">
              <h3>
                <span class="small-title">Profit:</span> {{(process.ratio-1.002)*50*process.transaction1.amountBTC|currency}}</h3>
            </div>

          </div>
          <div class="row" ng-if="process.processType=='BuySell'">
            <div class="col">
              <a ng-class="{
                            'ion-clock button-positive':process.transaction1.status=='Pending',
                          'ion-checkmark-circled button-balanced':process.transaction1.status=='Completed',
                          'ion-close-circled button-assertive':process.transaction1.status=='Cancelled'
                        }" class="button button-small button-block icon-right">Buy: Binance</a>

            </div>
            <div class="col">
              <a ng-class="{
                        'ion-clock button-positive':process.transaction2.status=='Pending',
                      'ion-checkmark-circled button-balanced':process.transaction2.status=='Completed',
                      'ion-close-circled button-assertive':process.transaction2.status=='Cancelled'
                    }" class="button button-small button-block icon-right ">Sell: Hibtc</a>
            </div>


          </div>
          <div class="row" ng-if="process.processType=='SellBuy'">
            <div class="col">
              <a ng-class="{
                    'ion-clock button-positive':process.transaction2.status=='Pending',
                  'ion-checkmark-circled button-balanced':process.transaction2.status=='Completed',
                  'ion-close-circled button-assertive':process.transaction2.status=='Cancelled'
                }" class="button button-small button-block icon-right ">Buy: Hibtc</a>
            </div>
            <div class="col">
              <a ng-class="{
                    'ion-clock button-positive':process.transaction1.status=='Pending',
                  'ion-checkmark-circled button-balanced':process.transaction1.status=='Completed',
                  'ion-close-circled button-assertive':process.transaction1.status=='Cancelled'
                }" class="button button-small button-block icon-right">Sell: Binance</a>

            </div>

          </div>
        </div>
      </li>

      <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()">
      </ion-infinite-scroll>
    </ul>
  </ion-content>
</ion-view>
