<ion-view view-title="SINGLE MARKET LIST">
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    <ion-nav-buttons side="right">
      <div class="right-number"> $5000</div>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list card list-markets">
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="title text-uppercase">
              Market1
            </div>
            <div>
              $50000
            </div>
          </div>
          <div class="col">
            <div class="title text-uppercase">
              Market2
            </div>
            <div>
              $50000
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              Ask (QTY) || Bitcoin
              <p>
                $500 (22.22)
              </p>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              Bid (QTY) || Bitcoin
              <p>
                $500 (22.22)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
