<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button
        class="button icon-left ion-chevron-left button-clear"
        ui-sref="app.home"
      >
        Home
      </button>
    </div>
    <h1 class="title">{{ currencyShortName2 }} Status</h1>
    <!-- <div class="buttons">
      <button class="button" ui-sref="app.marketlists">Transactions</button>
    </div> -->
  </ion-header-bar>
  <ion-content>
    <div class="list card list-markets">
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Standing</div>
          </div>
        </div>
        <div class="box-interest">
          <div class="row">
            <div class="col col-33">
              <label for="">
                Starting Date
              </label>
            </div>
            <div class="col col-66">
              {{ initialDate | date }}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Currenct Date
              </label>
            </div>
            <div class="col col-66">
              {{ currentDate | date }}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Amount Invested
              </label>
            </div>
            <div class="col col-66">
              {{ currencyShortName1 }}
              {{ initialCurrency1 | number: currentScript.currency1Decimal }}
              -
              {{ currencyShortName2 }}
              {{ initialCurrency2 | number: currentScript.currency2Decimal }}
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Current Value
              </label>
            </div>
            <div class="col col-66">
              {{ currencyShortName1 }}
              {{ finalCurrency1 | number: currentScript.currency1Decimal }} -
              {{ currencyShortName2 }}
              {{ finalCurrency2 | number: currentScript.currency2Decimal }}
            </div>
          </div>

          <div class="row">
            <div class="col col-33">
              <label for=""> Growth (in {{ days }} Days) </label>
            </div>
            <div class="col col-66">
              {{ currencyShortName1 }} {{ growth1 * 100 | number: 2 }}% -
              {{ currencyShortName2 }} {{ growth2 * 100 | number: 2 }}%
            </div>
          </div>
          <div class="row">
            <div class="col col-33">
              <label for="">
                Annualized Returns
              </label>
            </div>
            <div class="col col-66">
              {{ currencyShortName1 }}
              {{ annualizedGrowth1 * 100 | number: 2 }}% -
              {{ currencyShortName2 }}
              {{ annualizedGrowth2 * 100 | number: 2 }}%
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="label-title">Market Status</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class=" sub-title title">
              Binance
            </div>
          </div>
          <div class="col">
            <div class="sub-title title">
              Hitbtc
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Balance</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{ currency1 }}</label>
                </div>
                <div class="col col-66">
                  {{
                    market1Currency1 | number: currentScript.currency1Decimal
                  }}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for="">{{ currency2 }}</label>
                </div>
                <div class="col col-66">
                  {{
                    market1Currency2 | number: currentScript.currency2Decimal
                  }}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for="">{{ currency2 }}</label>
                </div>
                <div class="col col-66">
                  {{
                    market2Currency1 | number: currentScript.currency1Decimal
                  }}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> {{ currency1 }}</label>
                </div>
                <div class="col col-66">
                  {{
                    market2Currency2 | number: currentScript.currency2Decimal
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Rate</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask</label>
                </div>
                <div class="col col-66">
                  {{ market.market1.ask | number: currentScript.rateDecimal }}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ market.market1.bid | number: currentScript.rateDecimal }}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col col-33">
                  <label for=""> Ask </label>
                </div>
                <div class="col col-66">
                  {{ market.market2.ask | number: currentScript.rateDecimal }}
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <label for=""> Bid </label>
                </div>
                <div class="col col-66">
                  {{ market.market2.bid | number: currentScript.rateDecimal }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <div class="sub-title">Ratio</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Buy Sell </label>
                </div>
                <div class="col">
                  {{ buySellRatio | number: 4 }}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">RatioReq</label>
                </div>
                <div class="col">
                  {{ requiredRatio | number: 4 }}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  {{ minQuantity }}
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bid-box">
              <div class="row">
                <div class="col">
                  <label for=""> Sell Buy </label>
                </div>
                <div class="col">
                  {{ sellBuyRatio | number: 4 }}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> RatioReq</label>
                </div>
                <div class="col">
                  {{ requiredRatio | number: 4 }}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for=""> Min Qty </label>
                </div>
                <div class="col">
                  {{ minQuantity }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
